* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}



body {
  background: linear-gradient(135deg, #141e30, #243b55);
}


.app-container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}



.chat-card {

  width: 550px;
  height: 700px;

  background: white;

  border-radius: 20px;

  overflow: hidden;

  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;

}



.chat-header {

  background: #4f46e5;
  color: white;

  padding: 20px;

  text-align: center;

}

.chat-header h1 {
  font-size: 40px;
}

.chat-header p {
  margin-top: 5px;
  font-size: 15px;
}



.chat-body {

  flex: 1;

  padding: 20px;

  overflow-y: auto;

  background: #f3f4f6;

  display: flex;
  flex-direction: column;

}



.message-left {

  background: #e5e7eb;

  color: black;

  padding: 12px 16px;

  border-radius: 15px;

  margin-bottom: 12px;

  max-width: 75%;

  width: fit-content;

  align-self: flex-start;

  word-wrap: break-word;

}



.message-right {

  background: #4f46e5;

  color: white;

  padding: 12px 16px;

  border-radius: 15px;

  margin-bottom: 12px;

  max-width: 75%;

  width: fit-content;

  align-self: flex-end;

  word-wrap: break-word;

}



.message-left img,
.message-right img {

  width: 220px;

  margin-top: 10px;

  border-radius: 10px;

}



.message-left a,
.message-right a {

  display: inline-block;

  margin-top: 10px;

  color: inherit;

  text-decoration: underline;

}



.chat-footer {

  display: flex;

  gap: 10px;

  padding: 15px;

  background: white;

  border-top: 1px solid #ddd;

  align-items: center;

  flex-wrap: wrap;

}



.chat-footer input[type="text"] {

  flex: 1;

  min-width: 220px;

  padding: 14px;

  border: 1px solid #ccc;

  border-radius: 12px;

  outline: none;

  font-size: 15px;

}



.chat-footer input[type="file"] {

  width: 180px;

}



.chat-footer button {

  min-width: 90px;

  padding: 14px 20px;

  border: none;

  border-radius: 12px;

  background: #4f46e5;

  color: white;

  font-size: 15px;

  cursor: pointer;

  transition: 0.3s;

}

.chat-footer button:hover {

  background: #3730a3;

}